.token-item-1 {

    background-color: #CFF4FC;
    color: #184F5D;
    border-color: #14bdeb;

}
.token-item-2 {

    background-color: #00ff7e;
    color: #154A15;
    border-color: #00ff99;

}
.token-item-3 {

    background-color: #fefc01;
    color: #6E6129;
    border-color: #fbff00;

}
.token-item-4 {

    background-color: #fe7a01;  
    color: #47230D;
    border-color: #fc8a03;

}
.token-item-5 {

    background-color: #b200ff;
    color: #FFFFFF;
    border-color: #9b00ff;

}
.token-item-6 {

    background-color: #f60925;
    color: #FFFFFF;
    border-color: #ff004c;

}
.token-item-7 {

    background-color: #abff00;
    color: #197120;
    border-color: #75fc03;

}
.token-item-8 {

    background-color: #ff00df;
    color: #ffffff;
    border-color: #fc03c2;

}
.token-item-9 {

    background-color: #FFF3CD;
    color: #656518;
    border-color: #ffdc00;

}
.token-item-10 {

    background-color: #F8D7DA;
    color: #7D1B30;
    border-color: #cf3046;

}
.token-item-11 {

    background-color: #D1E7DD;
    color: #105A2F;
    border-color: #55aa7e;

}
.token-item-12 {

    background-color: #E2E3E5;
    color: #444444;
    border-color: #838790;

}
.token-item-13 {

    background-color: #CFE2FF;
    color: #22467D;
    border-color: #1e77ff;

}
.token-item-14 {

    background-color: #b3524c;
    color: #FFFFFF;
    border-color: #ce3f3b;

}
